<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136017868180-a6kp2nfsa8c0tb2juvvuges4a4mo5af8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136017868180-a6kp2nfsa8c0tb2juvvuges4a4mo5af8</string>
	<key>API_KEY</key>
	<string>AIzaSyDo6xlMl6P9Rq9wtXmtoP07wYKuAVdKEes</string>
	<key>GCM_SENDER_ID</key>
	<string>136017868180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cognitivegmae</string>
	<key>PROJECT_ID</key>
	<string>myappproject-9f981</string>
	<key>STORAGE_BUCKET</key>
	<string>myappproject-9f981.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136017868180:ios:d28a4e5a5488526009cb81</string>
	<key>DATABASE_URL</key>
	<string>https://myappproject-9f981-default-rtdb.firebaseio.com</string>
</dict>
</plist>